#teaser{
    width: 100%;
    height: 300px;
}
#teaser img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.halfBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ueberschriftBox{

    display: flex;
    max-width: 900px;
    align-items: center;

}
.uebungBox {

    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 900px;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}
.uebungBild{

    width: 450px;
}
.uebungTxtBox{

    width: 450px;
}

@media screen and (min-width: 800px){
    #teaser{
        height: 300px;
    }
}